@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

$button-color: #66bb6a;

header {
  background-image: url("./img/Banner.png");
  background-size: cover;
  background-position: center;
  height: 80vh;
  color: white;
}

.box-header {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  padding: 110px 40px 40px 40px;
  display: inline-block;
  text-align: center;
  height: inherit;
  h1 {
    font-size: 3rem;
    margin-bottom: 15px;
  }
  p {
    font-size: 1.1rem;
    width: 50vw;
    margin: 0 auto;
    margin-bottom: 25px;
  }
  button {
    background-color: $button-color;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    cursor: pointer;
  }
}

.cards {
  padding: 50px 20px;
  text-align: center;
}

article {
  width: 220px;
  height: 328px;
  border: solid 2px red;
  display: inline-block;
  margin: 15px;
  img {
    width: 100%;
  }
}
